$color-green: #0f0;
// 系统样式配置管理
$font-color: #7ae7e0;
$font-gray: #79aaa7;
$bg-gray: #555;
// chart style
$titleColor: #ffffff;
$titleSize: 18;
$axisColor: #ddd;
$axisSize: 13;
$test: #ff0000;
$splitLine: #555;

// button
$buttonColor: #0061ac;
